* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplicar fondo al contenedor admin */
.admin {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), 
                url('/public/Imagenes/dcComics.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    padding-top: 20px;
}

.admin .navbar {
  background: linear-gradient(to bottom, rgba(66, 48, 81, 1.0), rgba(66, 48, 81, 0.6), transparent);
}

.admin .btn {
    background-color: #fcd034 !important;
    color: #2f3438 !important;
}

.admin .btn:hover {
    background-color: #ceb457 !important;
    color: #e4f2ff !important;
}

.admin .registro {
    background-color: #272637d2;
    border: 2px solid #7e7c9c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: #cdd3ff;
}

.admin .titulo {
    color: #fcd034;
    text-align: center;
    font-weight: bold;
}

.admin .nav-link:not(.active) {
  color: #ffdddd;
}
