.blogDetailContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url('/public/Imagenes/dcComics.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  background: linear-gradient(
    to bottom,
    rgba(66, 48, 81, 1),
    rgba(66, 48, 81, 0.6),
    transparent
  );
}

/* Cards personalizadas */
.cardPersonalizada {
  background-color: #272637d2;
  border: 2px solid #7e7c9c;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #cdd3ff;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cardPersonalizada:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/* Grid */
.gridCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Footer */
.footer,
.footer p {
  background: linear-gradient(
    to top,
    rgba(66, 48, 81, 1),
    rgba(66, 48, 81, 1),
    transparent
  );
  color: #fcd034;
}

/* Botones */
.btn {
  background-color: #75619d;
  color: #e4f2ff;
}
.btn:hover {
  background-color: #3a2d34;
  color: #e4f2ff;
}

.btn1 {
  background-color: #fcd034;
  color: #2f3438;
}
.btn1:hover {
  background-color: #d5d5d5;
  color: #3a2d34;
}

/* Texto */
.text {
  font-weight: bold;
  color: #fcd034;
}

/* Mini carrito */
.offcanvasCarrito {
  background-color: #272637;
  color: #fcd034;
  width: 320px;
}

.offcanvasCarritoHeader {
  border-bottom: 2px solid #fcd034;
}

#carritoBody {
  text-align: center;
  vertical-align: top;
  width: 80px;
}
