.blogUnico body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url('/public/Imagenes/dcComics.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

/* Cards personalizadas */
.blogUnico .cardPersonalizada {
  background-color: #272637d2;
  border: 2px solid #7e7c9c;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #cdd3ff;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blogUnico .cardPersonalizada:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/* Grid */
.blogUnico .gridCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  
}
/* Card contenido */
.blogUnico .card-lobby {
  height: 100%;
}

/* Botones */
.blogUnico .btn-blog {
  background-color: #75619d;
  color: #e4f2ff;
}
.blogUnico .btn-blog:hover {
  background-color: #3a2d34;
  color: #e4f2ff;
}

/* Texto */
.blogUnico .text {
  font-weight: bold;
  color: #fcd034;
}
