body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
              url('/public/Imagenes/dcComics.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Navbar */
.navbarComponent .navbar {
  background: linear-gradient(to bottom,
    rgba(66, 48, 81, 1.0),
    rgba(66, 48, 81, 0.6),
    transparent
  );
}

.navbarComponent .navbar .nav-link {
  color: #fff;
  transition: color 0.3s ease;
}

.navbarComponent .navbar .nav-link:hover {
  color: #fcd034;
}

/* Botón */
.footerComponent .btn1 {
  background-color: #fcd034;
  color: #2f3438;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
}

.footerComponent .btn1:hover {
  background-color: #d5d5d5;
  color: #3a2d34;
}

/* Footer */
.footerComponent footer, footer p {
  background: linear-gradient(to top,
    rgba(66, 48, 81, 1.0),
    rgba(66, 48, 81, 1.0),
    transparent
  );
  color: #fcd034;
}

/* Mini carrito */
.navbarComponent .offcanvas.carrito {
  background-color: #272637; 
  color: #fcd034;
  width: 320px;
}

.navbarComponent .offcanvas.carrito .offcanvas-header {
  border-bottom: 2px solid #fcd034;
}

.navbarComponent #carrito-body {
  text-align: center; 
  vertical-align: top;
  width: 80px; 
}
/* Boton */
.pagina-productos .btn {
  background-color: #fcd034;
  color: #2f3438;
}