
.contacto{
    background-color: #272637d2;
    border: 2px solid #7e7c9c;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #cdd3ff;

    display: flex;
    flex-direction: column;
    height: auto;
}

.contacto .casillas{
    background-color: #f9eaff;
}

.contacto .titulo{
    color: #fcd034;
}
