.nosotros .card-personalizada {
  background-color: #272637d2;
  border: 2px solid #7e7c9c;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #cdd3ff;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  height: auto;
}

.nosotros .card-personalizada:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.nosotros .card-title {
  color: #fcd034;
}

.nosotros .btn {
  background-color: #fcd034;
  color: #000000;
}

.nosotros .btn:hover {
  background-color: #c0ae5d;
  color: #e4f2ff;
}

.nosotros .card-lobby {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nosotros .parrafo {
  text-align: center;
}
